

:root{
  --bg-color: #404040;
  --font-color: #373737;
  --question-color: #505050;
  --color-span: #746AB0;
  --yellow: #ff9912;
  --yellow-700: #d1ae6c;
  --gray-800: #a8a8b3;
  --red-delete: #f4796b; 
}

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}


body{
  background: var(--bg-color);
  color: var(--font-color);
}

body, input, button, p, textarea{
  font: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;

}