

:root{
  --bg-color: #404040;
  --font-color: #373737;
  --color-span: #746AB0;
  --yellow: #eead35;
  --gray-800: #a8a8b3;
}

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  overflow: hidden;
}


body{
  background: var(--bg-color);
  color: var(--font-color);
}

body, input, button, p, textarea{
  font: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;

}