.swal-modal {
  background-color: var(--bg-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
  
}

.swal-modal .swal-title{
  color: white; 
}

.swal-modal .swal-text{
  color: var(--gray-800);
}

